# Project
COMPOSE_PROJECT_NAME=hybrid-cyber-range
TZ=Europe/Belgrade

# Host binding
MGMT_BIND_ADDRESS=127.0.0.1

# Network subnets
MGMT_SUBNET=10.10.10.0/24
SECURITY_SUBNET=10.10.20.0/24
MONITORING_SUBNET=10.10.30.0/24
CORPORATE_SUBNET=10.10.40.0/24
DMZ_SUBNET=10.10.50.0/24
ATTACKER_SUBNET=10.10.60.0/24

# Case management network
CASE_MANAGEMENT_SUBNET=10.10.70.0/24
CASE_MANAGEMENT_GATEWAY=10.10.70.1

# Monitoring access network
MONITORING_ACCESS_SUBNET=10.10.80.0/24
MONITORING_ACCESS_GATEWAY=10.10.80.1

# Network gateways
MGMT_GATEWAY=10.10.10.1
SECURITY_GATEWAY=10.10.20.1
MONITORING_GATEWAY=10.10.30.1
CORPORATE_GATEWAY=10.10.40.1
DMZ_GATEWAY=10.10.50.1
ATTACKER_GATEWAY=10.10.60.1

# Replace before first real deployment
WAZUH_ADMIN_PASSWORD=CHANGE_ME
THEHIVE_ADMIN_PASSWORD=CHANGE_ME
CORTEX_ADMIN_PASSWORD=CHANGE_ME
GRAFANA_ADMIN_PASSWORD=CHANGE_ME
